#nirvana-player
  $player_width = 500
  $media_library_padding = 5
  $player_border = 1

  border ($player_border)px solid black
  width ($player_width + 2 * $media_library_padding)px

  .player-controls
    width   ($player_width + 2 * $media_library_padding)px
    .btn
      width 50px
      height 35px
      border 1px solid blue
      display inline-block
      text-align center
      padding-top 15px
      cursor pointer
      margin 3px
      &:hover
        background-color azure
      &:active
        background-color aquamarine


    audio
      width 100%
      display block

    .current-track-title
      font-weight bold
      padding-left 10px

  .player-media-library
    padding ($media_library_padding)px
    display inline-block
    width   ($player_width)px

    .player-media-library-folder
      cursor default
      &:before
        content "+"
      > .player-media-library-track
        display none
      > .player-media-library-folder
        display none

      &.opened
        &:before
          content "-"
        > .player-media-library-track
          display block
        > .player-media-library-folder
          display block

    .folder-name, .track-title
      cursor pointer

    .player-media-library-track:last-child
      border-bottom 1px solid darkgray
      margin-bottom 5px
