html, body
  height 100%
  margin 0

#nirvana-player

  $media_library_padding = 5

  width 100%
  height 100%

  .player-container
    width 100%
    height 100%
    display flex

    .player-left-block
      border 1px solid red
      display flex
      flex-direction column
      justify-content start
      flex-grow 1

    .player-right-block
      border 1px solid green
      display flex
      flex-grow 1

  .player-controls
    width   ($player_width + 2 * $media_library_padding)px
    .btn
      width 50px
      height 35px
      border 1px solid blue
      display inline-block
      text-align center
      padding-top 15px
      cursor pointer
      margin 3px
      &:hover
        background-color azure
      &:active
        background-color aquamarine

    audio
      width 100%
      display block

    .current-track-title
      font-weight bold
      padding-left 10px

  .player-media-library
    padding ($media_library_padding)px
    width   ($player_width)px
    overflow scroll
    flex-grow 1

    .player-media-library-folder
      cursor default
      &:before
        content "+"
      > .player-media-library-track
        display none
      > .player-media-library-folder
        display none

      &.opened
        &:before
          content "-"
        > .player-media-library-track
          display block
        > .player-media-library-folder
          display block

    .folder-name, .track-title
      cursor pointer

    .player-media-library-track:last-child
      border-bottom 1px solid darkgray
      margin-bottom 5px

  .player-playlist
    overflow scroll
    flex-grow 1

  .noUi-target
    margin 0 20px
